@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans W23';
  src: url('/public/assets/fonts/NeoSansW23-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
